.menu {
  top: -20px;
  left: 45%;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  background: rgb(255 255 255 / 22%);
  backdrop-filter: blur(10px);
  transition: all .1s ease-in-out;
}

.menu-wrapper {
  width: 100%;
  min-width: 700px;
  min-height: 300px;
  background: rgb(255 255 255 / 22%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  top: 99px;
  transition: all .1s ease-in-out;
  transform: rotateX(90deg);
  /* left: 21%; */
}

.wrapper_menu-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  gap: 40px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open {
  transition: all .1s ease-in-out;
  transform: rotateX(0deg);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 20px;
  height: 9px;
}

.close-Y {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #000;
  transform: rotate(45deg);
}

.close-X {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #000;
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
}

.title-menu {
  font-size: 22px;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu__item {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu__item:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.menu__link {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}