.box__wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  height: 260px;

  border-radius: 10px;
  padding: 10px;
  text-align: center;

  position: relative;
  margin-top: 50px;
  z-index: 2;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 16px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;

}

.title {
  font: caption;
  font-size: 20px;
  /* font-weight: bold; */
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}

/* .title::after {
  position: relative;
  left: -10px;
  margin-top: 5px;
  display: block;
  content: '';
  width: 177px;
  height: 2px;
  background-color: #0f22d2;
} */

.text {
  height: 160px;
  text-align: center;
}

.box {
  overflow-y: auto;
  /* height: 180px; */
}

.box::-webkit-scrollbar {
  width: 0px;
}

.button {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -72px;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.svg {
  object-fit: cover;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.svg-show {
  box-shadow: 0px 0px 5px 2px #0c6eb4;
  object-fit: cover;

}