.container {
  width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  color: #000;
  background: -webkit-linear-gradient(90deg, #306996, #9369a2, #d36e7d);
  background-repeat: no-repeat;
  background: linear-gradient(90deg, #19506c, #117d36, #19506c);

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  row-gap: 25px;
  z-index: 1;
  margin-top: 55px;
}

.wrapper-taxi {
  display: flex;
  justify-content: center;
  column-gap: 27px;
  margin-top: 90px;
}