
.container {
  width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --color-title: #102360;
  --color-text: #000;
}

body {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url('./componetns/img/cart.jpg');
  /* background-image: radial-gradient(circle at 20% 20%, rgba(255, 255, 210, 0.7) 0%, transparent 35%),
    radial-gradient(circle at 90% 80%, rgba(210, 245, 210, 0.6) 0%, transparent 30%),
    linear-gradient(180deg,
      #87CEEB 0%,
      #9fd9a4 45%,
      #6b8e4c 80%,
      #5d4a36 100%); */

}



.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  row-gap: 25px;
  z-index: 1;
  margin-top: 55px;
}

.wrapper-taxi {
  display: flex;
  justify-content: center;
  column-gap: 27px;
  margin-top: 90px;
}