.copp__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.taxi__input {
  width: 120px;
  height: 50px;
  text-wrap: wrap;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255 255 255 / 18%);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

.copp__tax {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  transition: all .4s ease-in-out;
}


/* доп стиль  */
.show {
  background-color: green;
}

.showTimeOut {
  border-radius: 10px;
  background-color: #8031d873;
}